:root {
  --bg-color: linear-gradient(0.25turn, #161625, #2c3e50, #131c28);
  --font-color: #e1e1ff;
  --heading-color: #818cab;
  --border-color: #303030;
  --up-color: rgb(43, 42, 51);
  --shadow: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@500&display=swap');

body {
  margin-bottom: 60px;
  font-family: 'Lilita One', cursive; 
  /* this font may look cursive on certain OS/browsers */
}

.active {
  display: block !important;
}

.bg-color {
  background: var(--bg-color);
}

.font-color {
  color: var(--font-color);
}

.heading-color {
  color: var(--heading-color);
}

/* NAV/FOOTER BG COLOR */
.topdown-color {
  background: var(--up-color);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.05);
}

/* SHADOW GOING DOWN */
.header-shadow {
  box-shadow: 0 4px 8px 0 var(--shadow), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:80px;
  white-space: nowrap;
  line-height: 80px;
}

/* SHADOW GOING UP */
.footer-shadow {
  box-shadow: 0 -4px 8px 0 var(--shadow), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bordershadow {
  box-shadow: 0 0 14px var(--shadow);
  transition: all 350ms ease-out;
}

  .bordershadow:hover {
      box-shadow: 0 0 14px rgba(111, 212, 185, 1);
  }

/* UNIFORM IMAGE */
.a-image--background {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.a-image {
  max-height: 100%;
  max-width: 100%;
}

.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: var(--bg-color);
  background-clip: border-box;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

  .card .card-img-top {
    border-radius: 20px 20px 0 0;
  }

  .card .card-block {
    padding: 1.25rem;
  }

/* ANIMATE LIST OF PROJECTS */
.col a .card {
  transition: all .15s ease-in-out;
}

  .col a .card:hover {
      transform: scale(1.05);
  }

/* TEXT INSIDE CARDS */
.row a {
  color: var(--heading-color);
}

  .row .col h5 {
    color: var(--font-color);
  }

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

/* PROJECT IMAGE */
.project {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown-menu {
  background: var(--up-color) !important;
}

.dropdown-item {
  color: rgb(159, 159, 163);
}

.dropdown-menu > li > a:hover {
  color: lightgrey;
  background-color: var(--up-color)
}

.dropdown-menu > li > a:focus {
  background-color: initial; /* Equivalent to background-color: transparent */
}

/* EXPERIENCE TIMELINE */
section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}

section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}

section#timeline article:after {
  content: '';
  display: block;
  clear: both;
  margin: 0 0 5px 0;
}

section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}

section#timeline article div.inner span.date {
  display: block;
  width: 100px;
  height: 90px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -50px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303B;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #25303B;
}

section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}

section#timeline article div.inner span.date span.day {
  font-size: 10px;
}

section#timeline article div.inner span.date span.month {
  font-size: 18px;
}

section#timeline article div.inner span.date span.year {
  font-size: 10px;
}

section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: var(--heading-color);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}

section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
    width: 10px; 
    height: 10px;
  -webkit-transform: rotate(-45deg);
}

section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: var(--bg-color);
  color: var(--font-color);
  border-radius: 0 0 6px 6px;
}

section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}

section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}

section#timeline article div.inner h2 {
  background: var(--up-color);
}

section#timeline article div.inner h2:after {
  background: var(--up-color);
}
